body{
  background-color: #036cc1; 
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
}

.logo {
  font-size: 2em;
  margin-bottom: 30px;
}

.center-container {
  margin: auto;
  padding-top: 200px;
  max-width: 800px;
}

.welcome-text {
  flex-basis: 40%;
  margin: auto;
}

.login-container{
  flex-basis: 60%;
  background-color: white;
  border-radius: 5px;
  margin-left: 5%;
  max-width: 300px;
  padding: 20px;
  color: #555;
}

#loginButton{
  margin: 10px 25px;
}